main {
    margin: 2%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* GLOBAL */
.presentation,
.formation {
    margin: 2%;
    padding: 3%;
    border: 1px dotted var(--thirdLevelTitle);
    width: 80svw;
}

h2 {
    margin-left: 2svw;
}

.presHeader,
.formHeader {
    margin-bottom: 5%;
    font-size: 1.2em;
    font-family: var(--content-font);
    color: var(--secondLevelTitle);
}

.divTilde {
    text-align: center;
    margin: 2svh 0;
}

a {
    color: var(--firstLevelTitle);
}

/* MAIN HEADER */
.mainHeader {
    display: flex;
    gap: 4svw;
    padding: 0h 5svh 0 5svh;
}

/* PRESENTATION */
.presContentPic {
    text-align: center;
    width: 40%;
}

.presContentImg {
    max-height: 50svh;
    max-width: calc(40vh);
    margin: 2% 0 7% 0;
}

.presContentTxt {
    height: 50svh;
    width: auto;
    overflow: auto;
    padding: 1svh;
    scrollbar-color: var(--firstLevelTitle) var(--thirdLevelTitle);
    scrollbar-width: thin;
}

/* FORMATION */
.formation {
    margin-bottom: 5svh;
}

.formContentItemTitle {
    font-weight: bold;
    color: rgb(94, 94, 94);
    margin-left: 2svw;
}

.formaContentPic {
    display: none;
}

.formContentItemTitle img {
    width: 3svh;
}

@media screen and (min-width: 1080px) {

    .presContent,
    .formaContent {
        display: flex;
        gap: 4svh;
        align-items: center;
    }

    .formaContent {
        justify-content: space-around;
    }

    .formaContentPic {
        display: block;
    }
}