/* SEARCHBAR 
.searchDiv {
    margin: 10% 0 0 0;
}

form {
    background-color: var(--thirdLevelTitle);
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.w-100 {
    text-align: center;
}

input {
    all: unset;
    supprime la mise en forme auto de certains navigateurs au type="search"
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
    text-align: center;
}

::placeholder {
    color: #fff;
    opacity: 0.7; 
}

button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}

svg {
    color: var(--firstLevelTitle);
}*/

/* STYLE MAIN HEADER */
.mainHeader {
    margin: 0 7% 3% 7%;
}

.mainHeaderTitle {
    margin: 0 0 5vh 3vh;
}

.mainHeaderText::first-letter {
    font-size: 1.1em;
}

.mainHeaderLink {
    text-align: center;
}

/* STYLE CASE ARTICLE */
.article {
    border: 1px dotted var(--thirdLevelTitle);
    padding: 2vh;
    margin: 2vh 4vh 5vh 4vh;
}

.articleCategoryCat {
    color: var(--firstLevelTitle);
}

.articleInfos {
    display: flex;
    gap: 2%;
    font-weight: bold;
    font-size: 0.7em;
    color: darkgrey;
}

.articleInfosDateContent::after {
    content: " ~";
}

.articleContent {
    overflow: auto;
    scrollbar-color: var(--firstLevelTitle) var(--thirdLevelTitle);
    scrollbar-width: thin;
}

.articleContentImage {
    text-align: center;
    margin: 5% 0;
}

.articleContentImageImg {
    background: rgb(121, 120, 126) none repeat scroll 0% 0%;
    max-height: 50vh;
    max-width: calc(35vh);
}

.articleContentTextLink {
    text-decoration: none;
    color: var(--firstLevelTitle);
}

.articleContentTextTxt {
    scrollbar-color: var(--firstLevelTitle) var(--thirdLevelTitle);
    scrollbar-width: thin;
}

/* PAGINATION NAVIGATION */
.navNav {
    margin: 0 0 10% 0;
}

@media screen and (min-width: 1080px) {
    .articleContent {
        display: flex;
        gap: 2vh;
        align-items: center;
    }

    .conteneur {
        margin: 0 5vh 0 5vh;
        padding: 0 3vh 3vh 3vh;
    }
}
