main {
    margin: 2%;
    padding: 0 2% 2% 2%;
}

/**** DESC PRESTATIONS ****/
/* TITRES */
.pageTitle {
    margin: 0 0 1vh 0;
    text-align: center;
}

.naturoTitleTxt, .reikiTitleTxt, .prestaCardsTitle, .doulaTitleTxt {
    margin: 2vw 0 2vh 0;
    font-size: 1.4em;
    font-family: var(--content-font);
    color: var(--secondLevelTitle);
}

/* LIENS */
.naturoLink, .reikiLink, .doulaLink {
    text-align: center;
}

/* TILDE */
.divTilde {
    text-align: center;
}

/* MARGIN-TOP */
.naturo {
    margin-top: 5%;
}

.naturo, .reiki, .prestaCard, .doula {
    border: 1px dotted var(--thirdLevelTitle);
    padding: 4vh;
    margin-bottom: 5vh;
    background-color: var(--bg-color2);
}

/**** PRESTATIONS ****/
/* titre de la partie */
.prestaCardsTitle {
    font-size: 1.6em;
    text-align: center;
}

/* la carte */
.prestaCard {
    padding: 3vh 0;
}


.prestaCardTitle {
    color: var(--secondLevelTitle);
    margin: 0 0 2% 5%;
    font-size: 1.3em;
}

.prestaCardText {
    padding: 2vh;
}

.iconsSpan {
    display: flex;
    gap : 2vh;
}

.prestaCarItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap : 1vh;
    margin: 0 0 2vh 4vh;
}

.timeImg {
    width: 30px;
}

.costImg {
    width: 35px;
}

/* bouton réserver */
.prestaCardReserv {
    text-align: center;
    margin-top: 2vh;
}

.reservBtn {
    color: white;
    background: var(--firstLevelTitle);
}

@media screen and (min-width: 1020px) {
    .prestaCardDesc {
        text-align: center;
    }
    .prestaCarItems {
        margin: 0 0 2vh 0;
    }
}

/* AJOUTS POUR EXPLICATIONS PRESTATIONS */
/* MAIN CONTENT */
.card1, .card2, .card3 {
    border: 1px dotted var(--thirdLevelTitle);
    padding: 5%;
    background-color: var(--bg-color2);
    display: none;
}

.cardContent {
    overflow: hidden;
    padding: 2%;
}

.cardContentImg {
    background: rgb(121, 120, 126) none repeat scroll 0% 0%; 
    max-height: 65vh; 
    max-width: calc(40vh); 
    margin: 1vh 0;
}

.cardFooter {
    background: var(--firstLevelTitle);
}

.naturoLinkText:hover, .reikiLinkText:hover, .doulaLinkText:hover {
    font-weight: bold;
    cursor: pointer; 
} 

.cardFooterQuit3:hover, .cardFooterQuit2:hover, .cardFooterQuit1:hover {
    cursor: pointer; 
}

.cardFooterQuit3, .cardFooterQuit2, .cardFooterQuit1 {
    padding-right: 1vh;
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: end;
}

.naturoLinkText, .reikiLinkText, .doulaLinkText {
    background-color: rgb(197, 194, 194);
    text-decoration: underline;
}

.naturoLinkText img, .reikiLinkText img, .doulaLinkText img {
    width: 1.5svh;
}

.tildeBtm {
    text-align: center;
    margin: 5vh;
}

#doula {
    margin-bottom: 5vh;
}

@media screen and (min-width: 992px) {
    .cardContent {
        display: flex;
        align-items: center;
    }
    
    .card1, .card2, .card3 {
        padding: 1vw;
    }

    .cardContentPic {
        margin-right: 2vw;
    }
}